@(isLogged:Boolean)

@main(isLogged){
    <div class="hero-unit">
        <div class="wrapper">
            <!-- <img src="@routes.Assets.at("images/trustedpaas_logo.png")" style="float: left; margin-top: -45px;"/>
            -->
            <div style="margin-left: 400px;">
                <h1>Why ?</h1>
                <p></p>
                <p>
                    &lt;présentation nécessaire&gt;
                </p>
                <p>
                    We think this is the future of application development.
                </p>
                <h2>
                    With us, be part of this future right now.
                </h2>
            </div> <!-- wrapper -->
        </div>
    </div> <!-- hero-unit -->
    <div class="main wrapper clearfix">
<article>
    <div class="row-fluid">
    <div class="span6">
    <section>
        <a href="http://www.intech.lu" target="_blank"><img src="@routes.Assets.at("images/intech.png")" style="width: 300px"/></a>
        <p style="margin-top: 10px;">InTech is an IT consulting company based in Luxembourg. We develop custom softwares using state of the art
            tools, languages and platforms. Our goal is to deliver the best applications to help our customers
            excelling in their business.
        </p>
    </section>
    </div>
    <div class="span6">
    <!--
    <section>
        <a href="http://www.ebrc.com" target="_blank"><img src="@routes.Assets.at("images/ebrc.png")" style="width: 225px"/></a>
        <p style="margin-top: 10px;">ebrc’s mission and core business is to manage sensitive, that means confidential, critical or high available
            information.
            ebrc is a company who believes that, in a digital uncertain world, it is absolutely necessary to
            ensure confidence, transparency and an audit trail of information.</p>
    </section>
    -->
    </div>
    </div> <!-- row-fluid -->
    <!--
    <section style="margin-top: 30px;">
        <a href="http://typesafe.com" target="_blank"><img src="@routes.Assets.at("images/typesafe.png")" style="width: 300px"/></a>
        <p>The Typesafe Stack is a modern software platform that makes it easy for developers to build scalable software
            applications in Java and Scala. It combines the Scala programming language, Akka middleware, Play web
            framework, and robust developer tools in a simple package that integrates seamlessly with existing Java
            infrastructure.</p>
    </section>
    -->
    <!--
    <section>
        <a href="http://www.playframework.org" target="_blank"><img src="@routes.Assets.at("images/play.png")" style="width: 300px"/></a>
        <p>
            Play is based on a lightweight, stateless, web-friendly architecture and features predictable and minimal
            resource consumption (CPU, memory, threads) for highly-scalable applications - thanks to its reactive model,
            based on Iteratee IO.
        </p>
    </section>
    -->
    <!--
    <section>
        <a href="http://akka.io" target="_blank"><img src="@routes.Assets.at("images/akka.png")" style="width: 250px"/></a>
        <p>
            Akka is a toolkit and runtime for building highly concurrent, distributed, and fault tolerant event-driven
            applications on the JVM.
        </p>
    </section>
    -->
    <!--
    <section>
        <a href="http://www.scala-lang.org" target="_blank"><img src="@routes.Assets.at("images/scala.png")" style="width: 600px"/></a>
        <p>
            Scala is a general purpose programming language designed to express common programming patterns in a
            concise, elegant, and type-safe way. It smoothly integrates features of object-oriented and functional
            languages, enabling Java and other programmers to be more productive. Code sizes are typically reduced by a
            factor of two to three when compared to an equivalent Java application.
        </p>
    </section>
    -->
</article>
</div>


}
